$font-stack: ('Source Sans Pro', 'Helvetica', 'Arial', sans-serif);

$unclassified-color: #00B241;

$header-color: #376092;
$header-bg: '/src/assets/images/checkeredImage.png';
$header-accent-color: #DD423A;

$footer-color: #e9ecef;